<div class="grid_12">
    <div class="box">
				
        <div class="header">
           <h2><img class="icon" src="~/img/icons/packs/fugue/16x16/sticky-note.png">Lista de Precio</h2>
        </div>
					
        <div class="content">
            <div class="tabletools">
                <div class="left">
                    <a id="btnNuevo" href="javascript:void(0);"><i class="icon-plus"></i>Mantener Lista de Precio</a>
                </div>
                <div class="right">
            		<input type="radio" name="rb_opcion" id="rbAsignado" value="asignado"  checked="checked"/><label for="rbAsignado">Precios Asignados&nbsp;&nbsp;</label>
					<input type="radio" name="rb_opcion" id="rbNoAsignado" value="noasignado"  /><label for="rbNoAsignado">Precios No Asignados</label>
                </div>
            </div>
            <div class="searchbox">
                <table>
                    <tr >
                        <td >
                            @Html.DropDownList("cboTipoArticulo", (IEnumerable<SelectListItem>)ViewBag.cboTipoArticulo, new { @class="search"})
                        </td>
                        <td style="width: 100%; ">
                            <input id="txtBuscar" type="text" placeholder="Ingrese Nombre de Articulo" />
                            <input id="btnBuscar" type="submit" value="Buscar" class="grey" />
                        </td>
                    </tr>
                </table>
            </div>
            <table class="styled"></table>
        </div><!-- End of .content -->
    </div><!-- End of .box -->
</div><!-- End of .grid_12 -->

<div class="grid_12">
    <table id="grdBuscar"></table>
    <div id="grdpBuscar"></div>
</div>

<div style="display: none;" id="dlgNuevo" title="Mantener Lista de Precio">
    <form action="#" class="full validate">
        <div class="row">
            <label for="txtBuscarxserie">
                <strong>Buscar x Serie</strong>
            </label>
            <div>
                <input type="text" name="txtBuscarxserie" id="txtBuscarxserie" />
            </div>
        </div>
        <div class="row">
            <label for="txtArticulo">
                <strong>Buscar x Articulo</strong>
            </label>
            <div>
                <input class="required" type="text" name="txtArticulo" id="txtArticulo" />
            </div>
        </div>
        <div class="row">
            <label for="txtListaPrecio">
                <strong>Lista de Precio:</strong>
            </label>
            <div>
                <input class="required" type="text" name="txtListaPrecio" id="txtListaPrecio" style="width: 80px;text-align: center " />&nbsp;
            </div>
            <label for="txtDescuento">
                <strong>Descuento Max:</strong>
            </label>
            <div>
                <input class="required" type="text" name="txtDescuento" id="txtDescuento" style="width: 80px;text-align: center " />
            </div>
        </div>
        
         <div class="row">
            <label for="txtPuntos">
                <strong>Puntos Asignados:</strong>
            </label>
            <div>
                <input type="text" name="txtPuntos" id="txtPuntos" style="width: 80px;text-align: center " />&nbsp;
            </div>
        </div>
        
        <div class="row">
            <label for="txtPuntosCanje">
                <strong>Puntos de Canje:</strong>
            </label>
            <div>
                <input type="text" name="txtPuntosCanje" id="txtPuntosCanje" style="width: 80px;text-align: center " />&nbsp;
            </div>
        </div>

        <div class="row">
            <label for="chkActivo">
                <strong>Estado:</strong>
            </label>
            <div>
                <div><input type="checkbox" id="chkActivo" /> <label for="chkActivo">Activo</label></div>
            </div>
        </div>
    </form>
    <div class="actions">
        <div class="left">
            <button class="grey cancel">Salir</button>
        </div>
        <div class="right">
            <button class="submit">Guardar</button>
        </div>
    </div>
</div>

<script >
    $(function () {
        IniListaPrecio();

    });

</script>


