<ul class="stats not-on-phone">
    <li>
        <strong>61263</strong>
        <small>Total Visits</small>
        <span class="green">+26%</span>
    </li>
    <li>
        <strong>23</strong>
        <small>Orders</small>
        <span class="green">+16%</span>
    </li>
    <li>
        <strong>$2165.57</strong>
        <small>Total Volume</small>
        <span class="red">-8%</span>
    </li>
    <li>
        <strong>0</strong>
        <small>Overdue Tickets</small>
        <span>0%</span>
    </li>
    <li>
        <strong>7</strong>
        <small>Reported Bugs</small>
        <span class="red">+17%</span>
    </li>
</ul>
<!-- End of ul.stats -->



<script>
    $(function () {
        //$("#f2_double").append("<option selected name='xxxx'>xxxx</option>");
       
    });
</script>