<h1 class="grid_12">Mantenimiento de Modelos</h1>

<div class="grid_12">
    <div class="box">
        <div class="header">
            <h2><img class="icon" src="~/img/icons/packs/fugue/16x16/sticky-note.png">Lista de Modelos</h2>
        </div>

        <div class="searchbox">
            <input id="txtBuscar" type="text" placeholder="Ingrese Nombre de Modelo" />
            <input id="btnBuscar" type="submit" value="Buscar" class="grey" />
        </div>
        <a id="btnNuevo" href="#" class="button">Nuevo Modelo</a>
        <table id="grdBuscar" ></table>
        <div id="grdpBuscar"></div>
    </div>
   
  </div>

<div style="display: none;" id="dlgNuevo" title="Mantener Lista de Marcas">
    <form action="#" class="full validate" >
        <div class="row">
            <label for="cboMarca">
                <strong>Marca</strong>
            </label>
            <div style="margin-left: 130px;">
                @Html.DropDownList("cboMarca", (IEnumerable<SelectListItem>)ViewBag.cboMarca, new { @class="search"})
                @*@Html.DropDownList("cboMarca","--SELECCIONE--")  *@
            </div>
        </div>

        <div class="row">
            <label for="txtModelo">
                <strong>Ingrese Modelo</strong>
            </label>
            <div style="margin-left: 130px;">
                <input class="required" type="text" name="txtModelo" id="txtModelo" />
            </div>
        </div>
        
        <div class="row">
            <label for="chkActivo">
                <strong>Estado:</strong>
            </label>
            <div>
                <div><input type="checkbox" id="chkActivo" /> <label for="chkActivo">Activo</label></div>
            </div>
        </div>
    </form>
    <div class="actions">
        <div class="left">
            <button class="grey cancel">Salir</button>
        </div>
        <div class="right">
            <button class="submit">Guardar</button>
        </div>
    </div>
</div>

<script >
    $$.ready(function () {

        $("#btnNuevo").click(function() {
            $.data(document.body, 'ModeloId', 0);
            $("#txtModelo").val("").removeAttr('disabled');
            $("#cboMarca").val("").trigger("liszt:updated");
            $("#chkActivo").prop("checked", true);
            $("#dlgNuevo").dialog("open");
            return false;
        });
        $("#txtBuscar").keypress(function(event) {
            if (event.which == 13) {
                event.preventDefault();
                $("#grdBuscar").jqGrid('setGridParam', { page: 1 }).trigger("reloadGrid");
            }
        });
        $("#cboMarca").change(function () {
            $("#txtModelo").val($("#cboMarca option:selected").text() + " ").focus();
        });
        
        $("#btnBuscar").click(function() { $("#grdBuscar").trigger("reloadGrid"); });
    
        $("#dlgNuevo").dialog({
            autoOpen: false,
            modal: true,
            width: 400,
            open: function () { $(this).parent().css('overflow', 'visible'); $$.utils.forms.resize(); }
        }).find('button.submit').click(function () {
            var $el = $(this).parents('.ui-dialog-content');
            if ($el.validate().form()) {
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("GuardarModelo", "Modelo")",
                    data: {
                        pModeloId: $.data(document.body, 'ModeloId'),
                        pMarcaId: $("#cboMarca").val(),
                        pDenominacion: $("#txtModelo").val(),
                        pActivo: $("#chkActivo").prop('checked')
                    },
                    success: function(data) {
                        Vendix.Notificar("Modificar");
                        $("#grdBuscar").trigger("reloadGrid");
                        $el.find('form')[0].reset();
                        $el.dialog('close');
                    }
                });
            }
        }).end().find('button.cancel').click(function () {
            var $el = $(this).parents('.ui-dialog-content');
            $el.find('form')[0].reset();
            $el.dialog('close');
        });
  
        jQuery("#grdBuscar").jqGrid({
            url: "@Url.Action("ListarModelo", "Modelo")",
            datatype: "json",
            postData: {
                filters: function () {
                    return $.toJSON([{ Key: "Buscar", Value: $("#txtBuscar").val() }]);
                }
            },
            colNames: ['INV NRO', 'DENOMINACION', 'MARCAID', 'MARCA', 'ESTADO', 'ESTADO'],
            colModel:
                [
                    { name: 'ModeloId', index: 'ModeloId', width: 75 },
                    { name: 'Denominacion', index: 'Denominacion', width: 150, align: "left" },
                    { name: 'MarcaId', index: 'Marcaid', hidden: true },
                    { name: 'Marca', index: 'Marca', width: 150, align: "left" },
                    { name: 'Estado', index: 'Estado', hidden: true },
                    { name: 'Activo', index: 'Activo', align: 'center', width: 80, formatter: ActivoFormatter }
                ],
            caption: "Lista Modelo",
            pager: jQuery('#grdpBuscar'),
            rowNum: 15,
            rowList: [15, 30, 45],
            sortname: 'ModeloId',
            sortorder: "asc",
            gridview: true,
            viewrecords: true,
            rownumbers: true,
            autowidth: true,
            //paging: true,
            width: 'auto',
            height: '347px',
            ondblClickRow: function () {
                var id = jQuery("#grdBuscar").jqGrid('getGridParam', 'selrow');
                if (id) {
                    var ret = $("#grdBuscar").jqGrid('getRowData', id);
                    $("#txtModelo").val(ret.Denominacion);
                    $("#cboMarca").val(ret.MarcaId).trigger("liszt:updated");
                    $("#chkActivo").prop("checked", ret.Estado == "True" ? true : false);
                    $.data(document.body, 'ModeloId', ret.ModeloId);
                    $("#dlgNuevo").dialog("open");
                }
            }
        });//.navGrid('#grdBuscar', { edit: false, add: false, del: false });
    });
</script>


